
{% extends "base.html" %}

{% load static %}

{% block content %}

<h2 style="color: #1035AC;">About Spiccato</h2>

    <p>
      Spiccato Tunes Music School, founded in 2009, is located in <b><i>Kitengela, Milimani B Road,
        Gatanza Building, 1st Floor.</i></b>  With experience of over 15 years, We pride ourselves in offering top-tier music education led 
      by a team of highly skilled, dedicated and passionate instructors. </p>


<h2 style="color: #1035AC;">Mission Statement</h2>


<p>To nurture and empower musicians of all ages and backgrounds through high-quality, creative, and personalized music education, fostering a lifelong passion for music and artistic excellence.</p>

<h2 style="color: #1035AC;">Vision</h2>

<p>To be a leading music institution recognized for cultivating talent, inspiring performance, and shaping a vibrant musical culture that transforms individuals and communities.</p>

<h2 style="color: #1035AC;">Overall Objective</h2>

<p>To provide a comprehensive, inclusive, and performance-driven music education program that equips students with technical skills, artistic expression, and the confidence to succeed in both personal and professional musical journeys.</p>


<section class="container my-5">
  <h3 class="mb-3 text-center" style="color: #1035AC;">📍 Find Us</h3>

  <div class="ratio ratio-16x9 shadow rounded">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.4575310485093!2d36.9508273!3d-1.4964728999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182fa10141c5a279%3A0x868292305f87daf!2sSPICCATO%20MUSIC%20SCHOOL%20KITENGELA!5e0!3m2!1sen!2ske!4v1753784638563!5m2!1sen!2ske"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  
</section>


{% endblock content %}

  
